.links{
    display:flex;
    justify-content: space-around;
    width: 80%;
    
}
.h1{
    text-align: center;
    margin: 1em auto;
    font-size: 4em;
}

header{
    background: linear-gradient(#3f87a6, #ebf8e1);
}
